<h1>Edit the amount of <%= @item_warehouses.item.name.pluralize(@item_warehouses.amount) %> in <%= @item_warehouses.warehouse.name %>'s Warehouse</h1>
<div>  
  <%= simple_form_for @item_warehouses do |f| %>
    <%= f.input :amount, error: "Please enter the amount of the item" %>
    <%= f.button :submit, 'Update Inventory' %>
  <% end %>
</div>
