<div>
  <h1>Campervan Kit</h1>
  <p>This is a logistics site for managing inventory required for campervanning. 
      All inventory is listed below and warehouse information can be found <%= link_to "here", warehouses_path %>.</p>
</div>

<div>
  <h2>Inventory</h2>
  <p>Click <%= link_to "here", new_item_path %> to add a new item to the inventory.</p>

  <table>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Location</th>
      <th>Inventory in Stock</th>
      <th>Weather</th>
    </tr>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= item.description %></td>
        <td>
          <% item.item_warehouses.each do |iw| %>
            <ul>
              <li><%= iw.warehouse.city %>
            </ul>
          <% end %>
        </td>
        <td>
          <% item.item_warehouses.each do |iw| %>
            <ul>
              <li><%= iw.amount %></li>
            </ul>
          <% end %>
        </td>
        <td>
          <% item.item_warehouses.each do |iw| %>
            <ul>
              <li>Today the weather will be <%= iw.weather_description(iw.warehouse.city) %> with a low of <%= iw.min_temp(iw.warehouse.city) %> and a high of <%= iw.max_temp(iw.warehouse.city) %>. The current temperature is <%= iw.current_temp(iw.warehouse.city) %>.
              </li>
            </ul>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
