<div>
  <h1><%= @item.name %></h1>
  <p><%= @item.description%></p>
  <%= link_to "Edit", edit_item_path(@item) %>
  <%= link_to "Destroy", item_path(@item), data: {
                      turbo_method: :delete,
                      # confirmation is commented out as it doesn't work on replit
                      # turbo_confirm: "Are you sure?"
                    } %>
</div>
<br>

<%= render "item_warehouses/show", item_warehouses: @item_warehouses, item: @item %>

<p><%= link_to "Return to Homepage", root_path %></p>
